@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

th,
td {
  padding: 1rem;
}

.category,
.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 3rem;
}

@media (min-width: 1024px) {
  .product,
  .category {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
